body {
    margin: auto;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    height:700px;
    width: 900px;
}
.header{
    background-color: aqua;
    height: 100px;
}
.menu{
    background-color: azure;
    height: 100px;
}
.sec1{
    background-color: chocolate;
    width:300px;
    height: 400px;
    float: left;
}
.sec2{
    background-color: cornflowerblue;
    width: 300px;
    height: 400px;
    display: inline-block;
}
.sec3{
    background-color: rgb(186, 231, 188);
    width: 300px;
    height: 400px;
    float: right;
}
.footer{
    background-color: dimgray;
    height: 160px;
}